<thead>
    <tr>
        <th><label><input type="checkbox" class="checkbox"></label></th>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
    {% for user in users %}
        <tr id="user-{{ user.id }}">
            <td>
                <label for="">
                    <input type="checkbox" class="checkbox" name="" id="">
                </label>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.rol.tipo }}</td>
            <td>
                <button class="btn btn-xs btn-primary">
                    Editar
                </button>
                <button class="btn btn-xs my-[.75em] btn-danger">
                    Eliminar
                </button>
                <button class="btn btn-xs my-[.75em] btn-warning">
                    Reiniciar contraseña
                </button>
            </td>
        </tr>
    {% endfor %}
</tbody>
