<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soportes</title>
    <link rel="stylesheet" href="../src/styles.css">
</head>
<body hx-ext="response-targets">
<div class="drawer lg:drawer-open">

  <div data-notification class="toast toast-top z-5">

  </div>

    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col gap-7 min-h-screen">
        <!-- Page content here -->

        <div class="flex items-center w-full justify-center">
            <label id="themeSwap" class="flex cursor-pointer gap-2 lg:absolute lg:top-2.5 lg:right-22 p-0 my-[.75em]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="12" cy="12" r="5" />
                <path
                  d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
              </svg>
              <input type="checkbox" value="synthwave" class="toggle theme-controller" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
              </svg>
            </label>
        </div>

        <div class="absolute top-0 right-0 p-0 m-[.55em]">
          <img src="img/logo edificio sin fondo.png" alt="Logo" class="w-15 h-15 object-contain rounded-xl" />
        </div>
      
        <label for="my-drawer-2" class="btn btn-circle swap swap-rotate drawer-button lg:hidden absolute top-0 left-0 ">
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" class="" />

          <!-- hamburger icon -->
          <svg
            class="swap-off fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512">
            <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
          </svg>

          <!-- close icon -->
          <svg
            class="swap-on fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512">
            <polygon
              points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
          </svg>
        </label>

        <h1 class="text-3xl font-bold text-center my-[1em]">Listado de alertas</h1>

    <div class="flex flex-col lg:flex-row items-center w-full gap-5 justify-around">

        <div>
            <button class="btn btn-success" onclick="crearAlerta.showModal()">Crear nueva alerta</button>
        </div>

        <dialog class="modal" id="crearAlerta">
          <div class="toast toast-top" data-toast data-alerta-toast>
          </div>
          <div class="modal-box">
            <h1 class="text-3xl font-bold text-center">
              Crear nueva alerta
            </h1>
 

            <div id="response" class="mb-4"></div>

            
            <form method="POST" class="w-100 my-0 mx-auto"
            hx-post="/api/soportes" 
            hx-target="div[data-alerta-toast]"
            hx-disabled-elt="button[type='submit']"
            hx-target-422="#response"
            hx-target-5*="div[data-alerta-toast]"
            hx-swap="innerHTML"
            id="crearAlertaForm">
              <fieldset class="fielset w-100 my-[1.5em]">
                <legend class="fieldset-legend">Motivo</legend>
                <input type="text" required minlength="3" maxlength="100" name="motivo" class="input w-100 my-0 mx-auto" placeholder="Motivo...">
              </fieldset>

              <fieldset class="fielset w-100 my-[1.5em]">
                <legend class="fieldset-legend">Fecha del soporte</legend>
                <input type="datetime-local" required name="fecha" class="input w-100 my-0 mx-auto">
              </fieldset>

              <fieldset class="fielset w-100 my-[1.5em]">
                <legend class="fieldset-legend">Empleado solicitante</legend>
                <select name="id_personal" required id class="select w-100"
                hx-get="/api/personal_options"
                hx-trigger="click once, keydown[key=='Enter'] once"
                hx-swap="beforeend"
                hx-target="this">
                  <option disabled selected value="">Seleccione el empleado</option>
                </select>
              </fieldset>

              <fieldset class="fielset w-100 my-[1.5em]">
                <legend class="fieldset-legend">Departamento</legend>
                <select name="id_departamento" required class="select w-100"
                hx-get="/api/departamentos"
                hx-trigger="click once, keydown[key=='Enter'] once"
                hx-target="this"
                hx-swap="beforeend">
                  <option disabled selected value="">Seleccione el departamento</option>
                </select>
              </fieldset>
            </form>

            <div class="modal-action">
                <button type="submit" form="crearAlertaForm" class="btn btn-success">Aceptar</button>
                <form method="dialog">
                  <button class="btn">Cerrar</button>
                </form>

            </div>
          </div>
          <form action="" method="dialog" class="modal-backdrop">
            <button></button>
          </form>


        </dialog>


        <dialog class="modal" id="editarAlerta">
          <div class="toast toast-top" data-toast data-alerta-toast>
          </div>
          <div class="modal-box">
            <h1 class="text-3xl font-bold text-center">
              Editar alerta
            </h1>

            <div id="editar-alerta-container"></div>

            <div data-response class="mb-4"></div>         

            <div class="modal-action">
                <button type="submit" form="editarAlertaForm" class="btn btn-success">Aceptar</button>
                <form method="dialog">
                  <button class="btn">Cerrar</button>
                </form>

            </div>
          </div>
          <form action="" method="dialog" class="modal-backdrop">
            <button></button>
          </form>
        </dialog>


        <div class="dropdown dropdown-right">
        <div tabindex="0" role="button" class="btn m-1">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" 
            fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" 
            d="M15 2v1.67l-5 4.759V14H6V8.429l-5-4.76V2h14zM7 8v5h2V8l5-4.76V3H2v.24L7 8z"/></svg>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
        </div>

    </div>
        <div class="overflow-x-auto overflow-y-auto max-h-120 mx-3">
            <table class="table"
            id="alertas-table" 
            hx-get="/api/soporte_estatus?atendido=no&formato=table&es_alerta=si"
            hx-trigger="load, alertaCreated from:dialog#crearAlerta, soporteDeleted from:body"
            hx-indicator="#loadSoporte">
            <span id="loadSoporte" class="loading loading-spinner loading-xl htmx-indicator"></span>
            </table>
        </div>


    </div>
    <div class="drawer-side h-screen lg:sticky top-0"
    hx-get="/layout/nav.html"
    hx-trigger="load">
    </div>
</div>
<script type="module" src="../src/main.js"></script>
<script type="module" src="../src/alertas/main.js"></script>
</body>
</html>