<label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
<ul class="menu bg-base-200 text-base-content min-h-full w-50 flex flex-col justify-start items-center gap-17 p-3">
<!-- Sidebar content here -->

    <li>
        <div class="avatar avatar-placeholder">
        <div class="bg-neutral text-neutral-content w-16 rounded-full justify-self-center">
            <!-- <span class="text-sm">UI</span> -->
             <img src="../img/Portrait_Placeholder.png" alt="usuario">
        </div>
    </li>

    <li>
        <a href="./home.html" class="px-[.75em] text-xl my-[.5em]">Inicio</a>
        <a href="./personal.html" class="px-[.75em] text-xl my-[.5em]">Personal</a>
        <a href="./alertas.html" class="px-[.75em] text-xl my-[.5em]">Alertas</a>
        <a href="./soportes.html" class="px-[.75em] text-xl my-[.5em]">Soportes</a>
        <a href="./users.html" id="admin-link" class="px-[.75em] text-xl my-[.5em]">Usuarios</a>
        <!-- <a>Notificaciones <span class="bg-secondary px-2 rounded-xl font-bold">1</span></a> -->
    </li>

    <li class="mt-auto">
        <form method="POST" hx-post="/api/logout" hx-trigger="click" hx-target="body" hx-swap="none">
            <button type="submit" class="btn btn btn-soft btn-secondary">Salir</button>
        </form>
    </li>
</ul>